@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Oswald:wght@200..700&display=swap');

*{box-sizing: border-box;}

/* header */
header {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    z-index: 10;
}
.headerArea {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 180px;
}
.headerArea .sns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 25px;
}
.headerArea .sns i {
    font-size: 21px;
    color: #fffffff2;
}
.headerArea .sns i:hover {
    opacity: 0.6;
}
.headerArea h1 {
    width: 240px;
    margin-top: 25px;
    margin-left: 110px;
}
.headerArea h1 img {
    width: 100%;
}

.headerArea .headerMenu {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 25px;
}
.headerArea .headerMenu .nav01 {
    font-size: 13px;
    font-weight: 600;
    font-family: "Noto Sans KR", sans-serif;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 2px;
    padding: 3px 7px;
}
.headerArea .headerMenu .nav01:hover {
    background-color: #fff;
    color: #333;
    transition: all 0.3s;
}
.headerArea .headerMenu .nav02 {
    font-size: 14px;
    font-family: "Noto Sans KR", sans-serif;
    color: #fff;
}
.headerArea .headerMenu .nav02:hover {
    opacity: 0.6;
}

/* header Menu */
.menuArea {
    position: fixed;
    top: 110px; left: 0;
    width: 100%;
    z-index: 50;
    background: transparent;
    transition: top 0.4s ease, background-color 0.3s ease;
    margin-top: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.menuArea.scrolled {
    top: -15px;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
} 
.menuArea .menu {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    padding: 10px;
}
.menuArea .menu li a {
    display: inline-block;
    font-size: 13px;
    font-weight: 400;
    font-family: "Noto Sans KR", sans-serif;
    color: #fff;
    transition: opacity 0.3s;
}
.menuArea .menu li a:hover {
    opacity: 0.5;
}
.menuArea.scrolled .menu li a {
  color: #212121;
}

/* swiper */
.mainVisual .mySwiper01{
    position: relative;
}
 .mainVisual .mySwiper01 .swiper-wrapper .swiper-slide {
    position: relative;
    height: 860px;
    background: cover;
    background-position: center;
 }
.mainVisual .mySwiper01 .swiper-wrapper .swiper-slide::after {
    content: '';
    position: absolute;
    top:0; left:0;
    width:100%; height:100%;
    background: rgba(0,0,0,0.4);
    z-index: 1; 
    pointer-events: none;
}
.mainVisual .mySwiper01 .swiper-slide.bg01 {background-image: url(../img/main_bg01.png) ;}
.mainVisual .mySwiper01 .swiper-slide.bg02 {background-image: url(../img/main_bg02.png) ;}
.mainVisual .mySwiper01 .swiper-slide.bg03 {background-image: url(../img/main_bg03.png) ;}
.mainVisual .mySwiper01 .swiper-slide.bg04 {background-image: url(../img/main_bg04.jpg) ;}
.mainVisual .mySwiper01 .swiper-slide.bg05 {background-image: url(../img/main_bg05.jpg) ;}
.mainVisual .mySwiper01 .swipreText {
    position: absolute;
    top: 50%;
    left: 36.5%;
    z-index: 2;
    transform: translateY(30%);
    transform: translateX(1%);
    font-family: "Noto Sans KR", sans-serif;
    color: #fff;
    text-align: center;
}
.mainVisual .mySwiper01 .swipreText h2 {
    font-size: 46px;
    font-weight: 700;
    margin-bottom: 10px;
}
.mainVisual .mySwiper01 .swipreText strong {
    font-size: 10px;
    font-weight: 500;
}
/* 버튼 수정 */
.mainVisual .mySwiper01 .swiper-pagination {
    position: absolute;
    top: 94%;
    left: -2%;
    z-index: 60;
    /* text-align: center; */
    /* transition: .3s opacity;
    transform: translate3d(0, 0, 0);
    z-index: 10; */
}
.mainVisual .mySwiper01 .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #ffffff;
    background-color: transparent;
    opacity: var(--swiper-pagination-bullet-inactive-opacity, .2);
    z-index: 55;
}
.mainVisual .mySwiper01 .swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: #fff;
}

/* gnbArea */
.gnbArea {
    position: fixed;
    top: 82%;
    right: 28px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    z-index: 1000;
}

.gnbArea .gnb01 img,
.gnbArea .gnb02 img {
    width: 90px !important;
}

/* greenArea */
.greenArea {
    background: #d9ede8;
}
.greenArea .paddingBox {
    height: 85px;
    padding-top: 50px;
}
.greenArea .topBox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.greenArea .topBox .topLeft {
    width: 50%;
    font-family: "Noto Sans KR", sans-serif;
    color: #225044;
    text-align: right;
    margin-top: 80px;
    padding-right: 60px;
}
.greenArea .topBox img {
    width: 150px;
}
.greenArea .topBox .topLeft h3 {
    font-size: 48px;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 13px;
}
.greenArea .topBox .topLeft p {
    font-size: 16px;
    font-weight: 600;
}
.greenArea .topBox .topRight {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-right: 77px;
}
.greenArea .bottomBox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}
.greenArea .topBox .topRight div,
.greenArea .bottomBox div {
  position: relative;
  width: 430px;
  height: 400px;     
  overflow: hidden;
}
.greenArea .topBox .topRight div img,
.greenArea .bottomBox div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.greenArea .topBox .topRight div .textBox,
.greenArea .bottomBox div .textBox {
    font-family: "Noto Sans KR", sans-serif;
    color: #fff;
    font-weight: 500;
    position: absolute;
    top: 82%;
    left: 5%;
}
.greenArea .topBox .topRight div .textBox span,
.greenArea .bottomBox div .textBox span {
    font-size: 18px;
    margin-bottom: 7px;
}
.greenArea .topBox .topRight div .textBox p,
.greenArea .bottomBox div .textBox p {
    font-size: 16px;
} 
.greenArea .topBox .topRight div:hover .textBox,
.greenArea .bottomBox div:hover .textBox {
    opacity: 0;
}
.greenArea .topBox .topRight div .hoverText,
.greenArea .bottomBox div .hoverText {
    position: absolute;
    top: 0; left: 0;
    width: 100%; 
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: none;
    justify-content: center;
    align-items: center;
    font-family: "Noto Sans KR", sans-serif;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}
.greenArea .topBox .topRight div:hover .hoverText,
.greenArea .bottomBox div:hover .hoverText {
    display: flex;
}

/* 두번째 작은 스와이퍼 */
.conventionArea {
    position: relative;
    background: transparent;
    width: 80%;
    margin: 0 auto;
}
.conventionArea  .convenBox {
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 90px;
}
.conventionArea .mySwiper02  {
    width: 600px;
    margin: 0 auto;
}
.conventionArea .mySwiper02 .swiper-slide {
    text-align: center;
}
.conventionArea .mySwiper02 .swiper-slide img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    display: block;
}
.mySwiper02 .caption {
    padding: 10px;
    font-family: "Noto Sans KR", sans-serif;
    color: #212121;
    font-size: 16px;
    font-weight: 500;
}
.conventionArea .rightBox {
    font-family: "Noto Sans KR", sans-serif;
    color: #333;
    width: 45%;
    height: 100%;
    margin-top: -75px;
}
.conventionArea .rightBox img {
    width: 160px;
    margin-bottom: 15px;
}
.conventionArea .rightBox h4 {
    font-size: 50px;
    font-weight: 700;
    display: block;
    margin-bottom: 15px;
}
.conventionArea .rightBox strong {
    font-size: 18px;
    font-weight: 700;
    display: block;
    margin-bottom: 10px;
}
.conventionArea .rightBox p {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 20px;
}
.conventionArea .btnBox {
    display: flex;
    justify-content: flex-start;
    /* align-items: center; */
    text-align: center;
    gap: 20px;
    font-family: "Noto Sans KR", sans-serif;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    margin-top: 50px;
}
.btnBox .leftBtn {
    width: 140px;
    height: 40px;
    background: #000;
    padding-top: 8px;
}
.btnBox .leftBtn:hover {
    background: #fff;
    color: #000;
    border: 1px solid rgba(0, 0, 0, 0.4);
    transition: all 0.3s;
}
.btnBox .rightBtn {
    width: 140px;
    height: 40px;
    background: #3f5965;
    padding-top: 8px;
}

.conventionArea .button-next, .conventionArea .button-prev { 
    font-size: 22px;
    font-weight: 100;
    color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
}
.conventionArea .button-next {
   position: absolute;
   top: 42%; left: 50%;
}
.conventionArea .button-prev {
   position: absolute;
   top: 44%; left: 4%;
}

/* footer */
footer {
    width: 100%;
    height: 310px;
    background: #333333;
    font-family: "Noto Sans KR", sans-serif;
    color: #999999;
}
.footerWrap {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 130px;
    padding-left: 60px;
}
.footerWrap .footerLogo {
    width: 180px;
    margin-top: 60px;
}
.footerWrap .footerLogo img {width: 100%;}
.footerWrap .footerText {
    margin-top: 75px;
}
.footerWrap .footerText .footerNav {
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 22px;
}
.footerWrap .footerText .footerMainT, 
.footerWrap .footerText .footerSubT {
    font-size: 12px;
    font-weight: 500;
    line-height: 2;
    letter-spacing: 1px;
}
.footerWrap .footerText .footerMainT {
    margin-bottom: 22px;
}
.footerWrap .footerSns {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 20px;
    margin-top: 80px;
}
.footerWrap .footerSns i {
    font-size: 20px;
    color: #fffffff2;
}
.footerWrap .footerSns i:hover {
    opacity: 0.6;
}
